*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.Rproj.user

venv
.project
.pydevproject
.settings
*.DS_Store
.ABM-Empirical-MexicoCity_6.tmp.nlogo
._*
bakup
